/*fonts*/
/*colors*/
/*general*/
/*general*/
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%; }

body {
  display: flex;
  align-content: center; }

input:hover,
button:focus,
a:focus,
input:focus,
input {
  border: none;
  outline: none; }

.content_login {
  font-size: 1.1rem; }

.img {
  display: block;
  width: 121px;
  height: 118px;
  margin: 0 auto 10px auto;
  background-image: url(http://www.gestor-energetico.com/data-web/formacion-bim/bim.png);
  background-repeat: no-repeat;
  background-position: -131px -1593px; }

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0 5px; }
  .flex p {
    display: flex;
    justify-content: space-between;
    font-size: 15px; }
    .flex p a {
      color: #999; }
      .flex p a:last-child {
        text-decoration: none; }
      .flex p a:focus, .flex p a:hover {
        color: #696969; }
  .flex .box {
    padding: 15px 0;
    /* especials */
    /* /especials */ }
    .flex .box form {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .flex .box form p {
        display: block;
        text-align: center;
        color: #696969;
        font-size: 18px; }
      .flex .box form label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin: 5px 0 5px 0;
        color: #ccc;
        transition: color 0.4s; }
        .flex .box form label:focus-within {
          color: #999; }
        .flex .box form label i {
          width: 20px;
          color: inherit;
          font-size: 20px;
          position: absolute; }
        .flex .box form label input {
          flex: 1 auto;
          margin: auto;
          width: auto;
          padding: 10px 0 10px 20px;
          border-bottom: #ccc solid 2px;
          transition: border-color 0.4s; }
          .flex .box form label input:focus {
            border-color: #999; }
      .flex .box form button {
        margin-top: 20px;
        background-color: #0096d2;
        border-radius: 15px;
        padding: 5px 20px;
        border: none;
        color: #fff; }
        .flex .box form button:focus {
          opacity: 0.8; }
    .flex .box .lostpassword i {
      font-size: 16px; }
    .flex .box .register,
    .flex .box .lostpassword {
      display: none; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    width: 90%;
    max-width: 280px;
    padding: 20px; } }

/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
