/*
$color-p: #ccc;
$color-s: #999;
$color-t: #0096d2;
$color-t-2: #006892;
*/
/*general*/
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0; }

html,
body {
  height: 100%; }

body {
  display: flex;
  align-content: center; }

input:hover,
input:focus,
input {
  border: none;
  outline: none; }

.content_login {
  font-size: 1.1rem; }

.flex {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center; }

.img {
  display: block;
  width: 121px;
  height: 118px;
  margin: 0 auto 10px auto;
  background-image: url(http://www.gestor-energetico.com/data-web/formacion-bim/bim.png);
  background-repeat: no-repeat;
  background-position: -131px -1593px; }

/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
